body {
  text-align: center;
  background-color: linear-gradient(
    to right,
    lightblue,
    blue,
    pink,
    hotpink,
    #833abd,
    #2a2c3c,

  );
  background-size: 400% 400%;
  animation: body 10s infinite ease-in-out;
}
@keyframes body {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 50% 100%;
  }
  100%{
    background-position: 0 50%;
  }
  
}

h1 {
  font-size: 5rem;
  color: Black;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: hotpink;
  font-family: sans-serif;
}

.p {
  background-image: url("images/tom1.png");
}

.k {
  background-image: url("images/tom2.png");
}

.l{
  background-image: url("images/tom3.png");
}

.n{
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.u {
  background-image: url("images/crash.png");
}

.a {
  background-image: url("images/kick.png");
}
.b {
  background-image: url("images/drumimg.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 50px;
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: left;
  margin: 20px;
  background-color: whitesmoke;
}
